services:
    # PROXY
    nginx:
        image: nginx:alpine
        container_name: nginx
        ports:
            - '80:80'
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - app
        restart: unless-stopped

    # APP
    app:
        build:
            context: .
            dockerfile: Dockerfile.dev
        container_name: app
        ports:
            - '5050:5000'
        volumes:
            - .:/app
            - /app/node_modules
        env_file:
            - .env.local
        depends_on:
            redis:
                condition: service_healthy
            postgres:
                condition: service_healthy
        command: pnpm run start:dev
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://localhost:5000/health']
            interval: 10s
            timeout: 5s
            retries: 3

    # CACHED DB (Alpine na 'to, maliit na talaga)
    redis:
        image: redis:alpine
        container_name: redis
        restart: unless-stopped
        env_file:
            - .env.local
        ports:
            - '${REDIS_PORT:-6379}:6379'
        volumes:
            - redis-data:/data
        healthcheck:
            test: ['CMD', 'redis-cli', 'ping']
            interval: 10s
            timeout: 5s
            retries: 3

    # RDBMS (Postgres Alpine)
    postgres:
        image: postgres:16-alpine # <--- Dito ang laking tipid sa download!
        container_name: postgres
        restart: unless-stopped
        env_file:
            - .env.local
        ports:
            - '${PGPORT:-5432}:5432'
        environment:
            POSTGRES_USER: ${PGUSER}
            POSTGRES_PASSWORD: ${PGPASSWORD}
            POSTGRES_DB: ${PGDATABASE}
        volumes:
            - ./postgres-data:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U ${PGUSER} -d ${PGDATABASE}']
            interval: 10s
            timeout: 5s
            retries: 5

    # GUI (Adminer is already small)
    adminer:
        image: adminer
        container_name: sql-ui
        restart: unless-stopped
        ports:
            - '8080:8080'

    redis-insight:
        image: redis/redisinsight:latest
        container_name: redis-insight
        restart: unless-stopped
        ports:
            - '5540:5540' # Dito mo siya i-a-access
        volumes:
            - redis-insight-data:/data
        depends_on:
            - redis

volumes:
    redis-data:
    redis-insight-data:
    postgres-data:
