services:
    # PROXY
    nginx:
        image: nginx:alpine
        container_name: nginx
        ports:
            - '80:80' # Inilipat sa 80 para iwas conflict sa Adminer (8080)
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - app
        restart: unless-stopped

    # APP
    app:
        build:
            context: .
            dockerfile: Dockerfile.dev
        container_name: app
        ports:
            - '5000:5000'
        volumes:
            - .:/app
            - /app/node_modules
        env_file:
            - .env.local
        depends_on:
            redis:
                condition: service_healthy
            postgres:
                condition: service_healthy
        command: pnpm run start:dev
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://localhost:5000/api/v1/health']
            interval: 10s
            timeout: 5s
            retries: 3

    # CACHED DB
    redis:
        image: redis:alpine
        container_name: redis
        restart: unless-stopped
        env_file:
            - .env.local
        ports:
            - '${REDIS_PORT:-6379}:6379'
        volumes:
            - redis-data:/data
        healthcheck:
            test: ['CMD', 'redis-cli', 'ping']
            interval: 10s
            timeout: 5s
            retries: 3

    # RDBMS HERE
    # mysql:
    #     image: mysql:8.0
    #     container_name: mysql-con
    #     restart: unless-stopped
    #     ports:
    #         - '3306:3306'
    #     environment:
    #         MYSQL_ROOT_PASSWORD: secret
    #         MYSQL_DATABASE: mydb
    #         # MYSQL_USER: root
    #         # MYSQL_PASSWORD: secret
    #     volumes:
    #         - mysql-data:/var/lib/mysql
    #     healthcheck:
    #         test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost', '-psecret']
    #         interval: 10s
    #         timeout: 5s
    #         retries: 5

    postgres:
        image: postgres:16
        container_name: postgres
        restart: unless-stopped
        env_file:
            - .env.local
        ports:
            - '${PGPORT:-5432}:5432'
        environment:
            POSTGRES_USER: ${PGUSER}
            POSTGRES_PASSWORD: ${PGPASSWORD}
            POSTGRES_DB: ${PGDATABASE}
        volumes:
            - ./postgres-data:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U ${PGUSER} -d ${PGDATABASE}']
            interval: 10s
            timeout: 5s
            retries: 5

    # mongo:
    #   image: mongo:latest
    #   container_name: mongodb-con
    #   restart: unless-stopped
    #   ports:
    #     - "27017:27017"
    #   environment:
    #     MONGO_INITDB_ROOT_USERNAME: admin
    #     MONGO_INITDB_ROOT_PASSWORD: secret
    #   volumes:
    #     - ./mongo-data:/data/db

    # GUI HERE:
    adminer:
        image: adminer
        container_name: sql-ui
        restart: unless-stopped
        ports:
            - '8080:8080'

    # mongo-express:
    #   image: mongo-express
    #   container_name: mongo-express
    #   restart: unless-stopped
    #   ports:
    #     - "8081:8081"
    #   environment:
    #     ME_CONFIG_MONGODB_ADMINUSERNAME: admin
    #     ME_CONFIG_MONGODB_ADMINPASSWORD: secret
    #     ME_CONFIG_MONGODB_SERVER: mongo

volumes:
    # mysql-data:
    redis-data:
    postgres-data:
    # mongo-data:
